<div class="div">
    <div class="col p-3">
        <h3>Pago exitoso</h3>
        <form action="/" method="GET">
            <button class="btn btn-primary btn-block" style="background :#28DF99;">Volver a inicio</button>
        </form>
    </div>
</div>
