<div class="container p-2 " align="center" style="width: auto; height:550;">
    <div class="row " style="display:inline-block">
        <div class="card " style="background:#99F3BD;">
            <div class="card-block">
                <img src="/Imagenes/Herramienta1.jpg" alt="" width="200px" height="150px" margin=auto, auto
                    align="right">
                <h3>1 Mes por $20.000 COP</h3>
                <form action="/payment/new" method="POST">
                <input id="name"  type="text" value="Suscripcion 1 mes" hidden>
                <input id="unit"  type="text" value="1" hidden>
                <input id="price"  type="text" value="20" hidden>
                <input id="img"  type="text" value="https://courseit.com.ar/static/logo.png" hidden>
                    <button class="btn btn-primary btn-block" type="submit" style="background :#28DF99;">Comprar</button>
                </form>
            </div>
        </div>
        <div class="card " style="background: #99F3BD;">
            <div class="card-block ">
                <img src="/Imagenes/Casco.jpg" alt="" width="200px" margin=auto, auto align="right">
                <h3>3 meses por $50.000 COP</h3>
                <p>OFERTA!!! Recibe un mes adicional gratis con esta suscripción</p>
                <form action="/payment/new" method="POST">
                <input id="name"  type="text" value="Suscripcion 3 meses" hidden>
                <input id="unit"  type="text" value="1" hidden>
                <input id="price"  type="text" value="50" hidden>
                <input id="img"  type="text" value="https://courseit.com.ar/static/logo.png" hidden>
                    <button class="btn btn-primary btn-block" type="submit" style="background :#28DF99;">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>