
<div id="app">
    <span id="myid"> </span>
</div>
<div id="meeting" align="center"></div> 
<script src='https://meet.jit.si/external_api.js'></script>
<script>
    const options = {
        parentNode: document.querySelector('#meeting'),
        roomName: 'support-bike',
        width: 700,
        height: 700,
        userInfo: {
            email: '{{user.email}}',
            displayName: '{{user.nombre}}'
        },
        configOverwrite: {
            defaultLanguage: 'es',
            noticeMessage:'En instantes uno de nuestros tecnicos atendera tu llamada',
            prejoinPageEnabled: false,
        },
        interfaceConfigOverwrite: { 
            
            HIDE_INVITE_MORE_HEADER: true,
            TOOLBAR_BUTTONS: [
                'microphone', 'camera', 'closedcaptions', 'desktop','fullscreen',
                'fodeviceselection', 'hangup', 'profile', 'chat', 'recording', 'etherpad', 'settings',
                'videoquality', 'filmstrip','stats', 'shortcuts','tileview', 'download', 'help'
            ],
        },
        
    }
    meetAPI = new JitsiMeetExternalAPI("meet.jit.si", options);

</script>
