<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="src/public/imgagenes/SupportBikeTransparente.png" alt="Logo " class="card-img-top mx-auto m-2 rounded-circle w-50">
        </div>
    </header>
</main>