<footer class="page-footer font-small  pt-4" style="background-color: #28DF99;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Support Bike</h5>
        <p>Servicio Tecnico a Distancia</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <i class="fab fa-instagram align-center" ></i>
        <!-- Links -->
        <h5 class="text-uppercase">Instagram</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/support_bike_/">support_bike_</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contacto</h5>

        <ul class="list-unstyled">
          <li>
            <a >Correo electronico: supp0rt.bik3@gmail.com </a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://supportbike.herokuapp.com/">supportbike.herokuapp.com</a>
  </div>
  <!-- Copyright -->

</footer>